/* Bootstrap*/
.navbar {
    background-color: #4F7942; 
    padding: 20px; 
}

.navbar-brand {
    font-family: Jazz LET, fantasy; 
    color: #4F7942; 
}

.navbar-nav .nav-link {
    margin-right: 10px; 
    text-decoration: none; 
    color: #4F7942; 
}

.navbar-nav .nav-link:hover {
    color: #4F7942; 
}

/*EXISTING STYLES*/
body {
    font-family: Jazz LET, fantasy;
    font-size: 16px;
    color: #00000;
}

header {
    background-color: #4F7942;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
}

#content {
    font-family: Snell Roundhand, cursive;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    background-color: #F7E7CE;
}

.grid {}

.grid a {
    display: block;
    margin-bottom: 20px;
}

.grid img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }

    h1 {
        width: 80%;
        padding-left: 1%;
    }

    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }

    h1 {
        width: 89%;
        padding-left: 1%;
    }

    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }

    h1 {
        width: 99%;
        padding-left: 1%;
    }

    picture.profile img {
        width: 100%;
    }
}

header {
    background-color: #4F7942;
    padding: 20px;
    transition: background-color 0.5s ease; 
}

header:hover {
    background-color: #638a54; 
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    transition: background-color 0.5s ease; 
}

footer:hover {
    background-color: #d9d9d9; 
}

